### Task 1
For this task, I will still be using the data about peoples age, gender, salary
and whether or not they purcahsed a vehicle. Instead of using logistic
regression, a decision tree will be used.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree
import time

df = pd.read_csv("car_data.csv")
df

     User ID  Gender  Age  AnnualSalary  Purchased
0        385    Male   35         20000          0
1        681    Male   40         43500          0
2        353    Male   49         74000          0
3        895    Male   40        107500          1
4        661    Male   25         79000          0
..       ...     ...  ...           ...        ...
995      863    Male   38         59000          0
996      800  Female   47         23500          0
997      407  Female   28        138500          1
998      299  Female   48        134000          1
999      687  Female   44         73500          0

[1000 rows x 5 columns]

In [103]:
def metric(pred, act):
    assert(pred.shape[0] == act.shape[0])
    N = pred.shape[0]   
    tp = 0
    tn = 0
    fp = 0
    fn = 0
    for n in range(N):
        if (pred[n] ==  1 and act[n] == 1):
            tp += 1
        if (pred[n] == 0 and act[n] == 0):
            tn += 1
        if(pred[n] == 1 and act[n] == 0):
            fp += 1
        if(pred[n] == 0 and act[n] == 1):
            fn += 1
    acc = (tp + tn)/(tp + tn + fp + fn)
    prec = (tp)/(tp + fp)
    rec = (tp)/(tp + fn) 
    return (acc, prec, rec)

age = (np.asarray(df["Age"], dtype=np.float64))
gen = (np.asarray([df["Gender"] == "Female"], dtype=np.float64) * 1)
salary = (np.asarray(df["AnnualSalary"], dtype=np.float64))
X = np.vstack((age, gen, salary)).T

P = np.asarray(df["Purchased"], dtype=np.float64)
N = np.size(P)
P = P.reshape(N, 1)

dtree = tree.DecisionTreeClassifier()
dtree = dtree.fit(X, P)
P_pred = dtree.predict(X)

acc, prec, rec = metric(P_pred, P)

print("accuracy: {}%".format(acc*100))
print("precision: {}%".format(prec*100))
print("recall: {}%".format(rec*100))

test_point = [[53, 0, 50000]]
print(f"test_point: {test_point}, result: {dtree.predict(test_point)}")
test_point = [[53, 1, 50000]]
print(f"test_point: {test_point}, result: {dtree.predict(test_point)}")
test_point = [[20, 1, 100000]]
print(f"test_point: {test_point}, result: {dtree.predict(test_point)}")
test_point = [[60, 1, 100000]]
print(f"test_point: {test_point}, result: {dtree.predict(test_point)}")
test_point = [[20, 1, 200000]]
print(f"test_point: {test_point}, result: {dtree.predict(test_point)}")

accuracy: 99.5%
precision: 100.0%
recall: 98.75621890547264%
test_point: [[53, 0, 50000]], result: [1.]
test_point: [[53, 1, 50000]], result: [1.]
test_point: [[20, 1, 100000]], result: [0.]
test_point: [[60, 1, 100000]], result: [1.]
test_point: [[20, 1, 200000]], result: [1.]

### Task 2

### Task 3